/**********************************************************************************************************************
 * メインビューCSS
 **********************************************************************************************************************/

#root {
    -fx-pref-width: 600;
}

.opsBar {
    -fx-padding: 10;
    -fx-spacing: 10;
}

.opsButton {
    -fx-font-size: 40;
    -fx-graphic-text-gap: 20;
}

.opsButtonIcon {
    -fx-font-family: FontAwesome;
    -fx-font-size: 40;
}

.configGridPane {
    -fx-alignment: center;
    -fx-hgap: 10;
    -fx-padding: 20 25 20 25;
    -fx-vgap: 5;
}

.configTitleLabel {
    -fx-font-weight: bold;
}

.webView {
    -fx-pref-height: 0;
}
