/**********************************************************************************************************************
 * メインビューCSS
 **********************************************************************************************************************/

#root {
    -fx-pref-width: 600;
}

#buttonBar {
    -fx-padding: 10;
    -fx-spacing: 10;
}

#buttonBar .button {
    -fx-font-size: 50;
    -fx-graphic-text-gap: 30;
}

#buttonBar .buttonIcon {
    -fx-font-family: FontAwesome;
    -fx-font-size: 50;
}

#webView {
    -fx-pref-height: 0;
}
