/**********************************************************************************************************************
 * メインビューCSS
 **********************************************************************************************************************/

#root {
    -fx-pref-height: 400px;
    -fx-pref-width: 600px;
}

#buttons Button {
    -fx-font-size: 32px;
}

#webView {
}
