/**********************************************************************************************************************
 * メインペイン CSS
 **********************************************************************************************************************/

.opsBar {
    -fx-padding: 10;
    -fx-spacing: 10;
}

.opsButton {
    -fx-font-size: 40;
    -fx-graphic-text-gap: 20;
}

.opsButtonIcon {
    -fx-font-family: FontAwesome;
    -fx-font-size: 40;
}

.webViewWrapper {
    -fx-pref-height: 0;
}
